{% if property('list')|length %}
<table>
  <thead>
    <tr>
      {% for column in property('columns') %}
        <th>{{ column }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in property('list') %}
      <tr>
        {% for column in property('columns') %}
          <td>
            {% set value = row[column]|default(null) %}
            {% if value is same as(null) %}
              -
            {% elseif value is same as(true) %}
              ✅
            {% elseif value is same as(false) %}
              ❌
            {% elseif value is iterable %}
              {% for val in value %}
                {{ value }}{{ loop.last ? '' : ', ' }}
              {% endfor %}
            {% else %}
              {{ value }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
List is empty
{% endif %}